<div style="text-align:center">
      <div style="display:inline-block">
		Top 10 Individual Leaderboard for <%= Date.today.year %>
		<table>
		<% i = 1 %>
		<% @top_10.each do |ranker| %>
			<% if ranker.nil? %>
			<% break %>
			<% end %>
			<tr bgcolor=<%= ranker["gender"] ? "#AED6F1".to_json.html_safe : "#FF83FF".to_json.html_safe %> >
				<td bgcolor=<%= ranker["gender"] ? "#AED6F1".to_json.html_safe : "#FF83FF".to_json.html_safe %>> 
					<div style='display: block; height: 20px; width: 250px; background: <%= ranker["gender"] ? "#AED6F1".to_json.html_safe : "#FF83FF".to_json.html_safe %>'>
						<%= i.to_s + ". " + (ranker["gender"] ? "A Brother in " : "A Sister in ") + ranker['ministry'] %>
						<% i += 1 %>
					</div>
				</td>
			</tr>
		<% end %>
		</table>
	</div>
</div>
