<select id = "book_dropdown1">
  <%= bible_books.each do |book| %>
  <% if book == @last_book_read %>
    <option selected="selected"><%= book %></option>
  <% else %>
  <option><%= book %></option>
  <% end %>
  <% end %>
</select>
<canvas id="book_percents" width="800" height="450"></canvas>
<button id="reset_book" type="button" class="Button">Clear Book Reading Progress</button>
<script>
$(document).ready(function() { $("#book_dropdown1").select2(); });
var initial_data = parseFloat(<%=@book_percentages[@last_book_read].to_json.html_safe%>);
var book_percent_chart = new Chart(document.getElementById("book_percents"), {
    type: 'doughnut',
    data: {
      labels: ["Read", "Not Read"],
      datasets: [
        {
          label: "Percentages",
          backgroundColor: ["#3e95cd", "#8e5ea2"],
          data: [initial_data, (100-initial_data).toFixed(2)]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'What percent of ' + <%= @last_book_read.to_json.html_safe %> +' have you read?'
      },
      legend: {
        onClick: function (e) {
          e.stopPropagation();
        }
      }
    }
});
var book_percents = <%= @book_percentages.to_json.html_safe %>;
$(document).on("change", "#book_dropdown1", function() {
  var dropdown = document.getElementById("book_dropdown1");
  var chosen_book = dropdown.options[dropdown.selectedIndex].text;
  book_percent_chart.data.datasets[0].data = [book_percents[chosen_book], (100 - book_percents[chosen_book]).toFixed(2)];
  book_percent_chart.options.title.text = "What percent of " + chosen_book + " have you read?";
  book_percent_chart.update();
 });
</script>