<h4>Outstanding Challenge Requests</h4>
<table>
	<% @outstanding_challenges.each_with_index do |challenge_requests, index| %>
		<tr> 
			<td><%= challenge_requests.challenge.sender_ministry.name%></td>
			<td><%= challenge_requests.challenge.receiver_ministry.name %></td>
			<td>

<%= simple_form_for challenge_requests, url: accept_challenge_path, :method => :post, remote: true, html: {id: "random"} do |f| %>
  	<%= hidden_field_tag(:challenge_request, challenge_requests.id) %>

  	<%= f.button :submit, '✓', data: {disable_with: false }, class: 'Button Button-small' %>
  	<% end %>

			</td>
			<td>

<%= simple_form_for @new_challenge, url: reject_challenge_path, :method => :post, remote: true, html: {id: "random"} do |f| %>
  	<%= hidden_field_tag(:challenge_request, challenge_requests.id) %>
  	<%= f.button :submit, '☓', data: { disable_with: false }, class: 'Button Button-small' %>
  	<% end %>
			</td>
		</tr>
	<% end %>
</table>