<table>
	<% @current_challenges.each_with_index do |challenge, index| %>
		<tr class="trigger"> 
			<td><%= challenge.sender_ministry.name%> <%= @sender_scores[index]%></td>
			<td><%= challenge.receiver_ministry.name %> <%=@receiver_scores[index]%></td>
		</tr>
		<tr class="result">
			<td colspan=2><canvas id="<%= "challengeChart" + challenge.id.to_s %>" width="800" height="400"></canvas></td>
		</tr>
	<% end %>
</table>
<script>
    $('tr.trigger').on('click', function() { 
       $(this).next('.result').fadeToggle(); 
    });
<% @current_challenges.each do |challenge| %>

new Chart(document.getElementById("<%= "challengeChart" + challenge.id.to_s%>").getContext('2d'), {
  type: 'line',
  data: {
    labels: <%= @chart_labels[challenge]["x_labels"].to_json.html_safe %>,
    datasets: [{ 
        data: <%= @chart_labels[challenge]["y0_data"].to_json.html_safe %>,
        label: <%= @chart_labels[challenge]["y0_name"].to_json.html_safe %>,
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: <%= @chart_labels[challenge]["y1_data"].to_json.html_safe %>,
        label: <%= @chart_labels[challenge]["y1_name"].to_json.html_safe %>,
        borderColor: "#8e5ea2",
        fill: false
      }]
  },
  options: {
    title: {
      display: true,
      text: <%= @chart_labels[challenge]["title"].to_json.html_safe %>
    },
    legend: {
        onClick: function (e) {
          e.stopPropagation();
        }
    },
    elements: {
      line: {
        tension: 0,
      }
    }
  }
});
<% end %>
</script>