<script>
$(document).on("change", "#your_ministry", function() {
	var your_ministry = document.getElementById("your_ministry").value;
	var remaining_groups = <%= @all_ministry_names.to_json.html_safe %>;
	remaining_groups.splice(remaining_groups.indexOf(your_ministry),1);
	var opp_ministry = document.getElementById("opp_ministry").value;
	$('#opp_ministry').empty();
	remaining_groups.forEach(function(name) {
		if (name == opp_ministry) {
			$('#opp_ministry').append("<option selected='selected'>".concat(name.toString(),"</option>"));	
		} else {
			$('#opp_ministry').append("<option>".concat(name.toString(),"</option>"));
		}
	});
 });
    $(document).ready(function() { $("#your_ministry").select2(); });
    $(document).ready(function() { $("#opp_ministry").select2(); });
    $(document).ready(function() { $("#opp_class").select2(); });
    $(document).ready(function() { $("#books").select2(); });
</script>
<%= simple_form_for @new_challenge, url: create_challenge_path, :method => :post, remote: true, html: {id: "form"} do |f| %>
  <%= f.input :title, :label => "Challenge Name", :placeholder => "Default: Group 1 vs Group 2", input_html: {id: "challenge_title"} %>
  <p class="strong">Please begin by inputting your side of the challenge.</p>
	<%= f.input :sender_ministry, collection: @grouping_options, :label => 'Choose which ministry group you would like to compete as', value_method: lambda { |obj| return obj[:name] }, selected: @user_ministry, input_html: {id: "your_ministry"}%>
	<%= f.input :sender_gender, label: "Would you like only " + @gender + " to compete?", as: :radio_buttons %>
	<%= f.input :sender_peer, label: "Would you like only your peers class of " + @peer_class + " to compete?",  as: :radio_buttons%>
	<br>
	<p class="strong">Now enter your opponents information.</p>
	<%= f.input :receiver_ministry, collection: @ministry_names, :label => "Your opponent's ministry group", selected: nil, input_html: {id: "opp_ministry"}%>
  	<div class="input">
      <label>Which genders?</label>
      <%= f.collection_check_boxes :receiver_gender, [[true, 'Brothers'] ,[false, 'Sisters']], :first, :last %>
  	</div>
    <%= f.input :receiver_peer, collection: @other_peers, :label => "Would you like to select an opponent's peer class?", :include_blank => 'Optional', selected: nil, input_html: {id: "opp_class"}%>

  	<%= f.input :valid_books, collection: @books, :label => "Would you like to limit which books are allowed? If not, do not select any", label_method: lambda {|obj| return obj[:book]},value_method: lambda {|obj| return obj[:book]}, input_html: { multiple: "multiple", id: "books" }, selected: nil%>
	<br>
	<br>
  <div style="display:flex; align-items: center;">
  	<%= f.button :submit,  data: { disable_with: false }, class: 'Button' %>
    <% if @warning %>
      <div style="margin-left: 20px; color: #D1495B;"><i class="fa fa-exclamation-circle" style="margin-right: 7.5px;"></i><%= @warning %></div>
    <% end %>
  </div>
<% end %>
