<div class="Container">
  <div id="challenge_requests">
  	<%= render partial: 'challenge_requests' %>
  </div>

  <h1>Create a challenge</h1>

  <p>Hello <%= @user.name %>, you have come to this page to issue a challenge.</p>
  <p class="strong">Please begin by inputting your side of the challenge.</p>

  <div id="form">
  <%= render partial: 'form' %>
  </div>


  <h2>Current Challenges</h2>
  <div id ="current_challenge_table">
  <%= render partial: 'current_challenge_table' %>
  </div>

  <h2>Archived Challenges</h2>
  <table>
    <% if !@old_challenges.nil? %>
    	<% @old_challenges.each do |challenge| %>
    		<tr> 
    			<td><%= challenge.sender_ministry.name %></td>
    			<td><%= challenge.receiver_ministry.name %></td>
    			<td><%= challenge.winner ? challenge.sender_ministry.name : challenge.receiver_ministry.name %> Won</td>
    		</tr>
    	<% end %>
    <% else %>
      <div>You have not been in a challenge yet!</div> 
    <% end %>
  </table>
</div>