<div id="challenge_requests">
	<%= render partial: 'challenge_requests' %>
</div>

Hello <%= @user.name %>, you have come to this page to issue a challenge.
Please begin by inputting your side of the challenge.

<div id="form">
<%= render partial: 'form' %>
</div>


Current Challenges
<div id ="current_challenge_table">
<%= render partial: 'current_challenge_table' %>
</div>

Old Challenges
<table>
	<% @old_challenges.each do |challenge| %>
		<tr> 
			<td><%= challenge.sender_ministry.name %></td>
			<td><%= challenge.receiver_ministry.name %></td>
			<td><%= challenge.winner ? challenge.sender_ministry.name : challenge.receiver_ministry.name %> Won</td>
		</tr>
	<% end %>
</table>