<!DOCTYPE html>
<html>
  <head>
    <title>BibleFitbit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet">
  </head>
  <body>
    <% if !session[:user_id].nil? %>
      <header>
        <ul class="Nav">
          <div class="Nav_items-left">
            <div class="Nav_logo">
              <%=link_to "Bible Fitbit", dashboard_path%>
            </div>
            
            <li class="Nav_item"><%=link_to "Profile", profile_path %></li>
            <% if !@pending_challenge_requests.nil? and @pending_challenge_requests.size > 0 %>
              <li class="Nav_item"><%=link_to "Challenges " + String(@pending_challenge_requests.size), challenges_path%></li> 
            <% else %>
              <li class="Nav_item"><%=link_to "Challenges", challenges_path%></li>
            <% end %>
            <li class="Nav_item"><%=link_to "Log Reading", log_reading_path%></li>
          </div>
          <div class="Nav_items-right">
            <li class="Nav_item"><%=link_to'Log Out', signout_path%></li>
          </div>
        </ul>
      </header>
    <% end %>
		<div class="container">
    	<% flash.each do |key, value| %>
      	<div class="alert alert-<%= key %>">
          <%= value %>
      	</div>
    	<% end %>
    	<%= yield %>
    </div>
  </body>
</html>
