<!DOCTYPE html>
<html>
  <head>
    <title>BibleFitbit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div>
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% end %>
    </div>
    <div>
		<div class="container">
      	<% flash.each do |key, value| %>
        	<div class="alert alert-<%= key %>"><%= value %>
        	</di>
      	<% end %>
    	<%= yield %>
    </div>
  </body>
</html>
